/* TABLET */

@media screen and (max-width: 768px){
    .links{
        display: none;
    }

    .menu{
        display: block;
    }

    .col.large{
        display: inline-block;
    }

    .row-planning{
        display: inline-block;
    }

    .col-planning{
        width: 100%;
    }

    .col-ben{
        width: calc(50% - 10px);
    }

}

/* MOBILE */

@media screen and (max-width: 480px){
    .row{
        flex-wrap: wrap;
    }

    .col{
        width: 100%;
    }

    .col.large{
        width: 100%;
    }

    .card{
        flex-direction: column;
    }

    .col-ben{
        width: 100%;
    }

    .row-about{
        flex-wrap: wrap;
    }

    .col-about{
        width: 100%;
    }
}
