/* STYLE */

:root{
    --head-color: #0084fd;
    --main-color: #9792e4;
}

/* HEADER */

header{
    background-color: var(--head-color);
    height: 70px;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    gap: 20px;
}


/* MAIN */

/* DEMO */

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.col{
    width: calc(100% / 3 - 20px);
    background-color: #b5ddff;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.col.large{
    width: calc(100% / 3 * 2 - 20px);
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
}

.text{
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3{
    color: var(--head-color);
    font-size: 1.6rem;
}

i{
    color: var(--head-color);
    font-size: 4.5rem;
}