/* STYLE */

:root{
    --head-color: #0084fd;
    --main-color: #9792e4;
}

/* HEADER */

header{
    background-color: var(--head-color);
    height: 70px;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    gap: 20px;
}


/* MAIN */

/* DEMO */

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.col{
    width: calc(100% / 3 - 20px);
    background-color: #b5ddff;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.col.large{
    width: calc(100% / 3 * 2 - 20px);
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
}

.text{
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h3{
    color: var(--head-color);
    font-size: 1.6rem;
}

.col>i{
    color: var(--head-color);
    font-size: 4.5rem;
}

/* PLANNING */

.row-planning{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.col-planning{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.col-planning.img{
    justify-content: flex-end;
}

h2{
    font-size: 1.6rem;
}

.inside-col-white{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    justify-items: baseline;
}

.inside-col-white>img{
    width: 70%;
}

/* PARTNERS */

.card{
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 20px;
}

.square{
    min-width: 100px;
    min-height: 100px;
    background: url("./img/testimonial1.jpg") 50% 50% no-repeat;
    background-size: cover;
    border-radius: 50%;
}

h1{
    font-size: 2rem;
    color: var(--main-color);
}

.testimonials-text>*{
    text-align: center;
    margin-bottom: 20px;
}

/* BENEFITS */

h4{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.col-ben{
    background-color: white;
    width: calc(100% / 3 - 20px);
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
}

h5{
    color: var(--main-color);
    font-size: 3rem;
}

.col-ben>h3{
    color: var(--main-color);
}

/* ABOUT US */

.row-about{
    padding: 60px;
    display: flex;
    gap: 30px;
}

.col-about{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    line-height: 2em;
}

.col-about>img{
    width: 50%;
    border-radius: 50%;
}

h6{
    font-size: 1.3rem;
    color: var(--main-color);
}

.absolute{
    position: absolute;
    top: 10px;
    right: 120px;
    font-size: 2rem;
    color: var(--main-color);
}
