/* Utils */

/* ROOT */
:root{
    --head-color: #0084fd;
    --main-color: #9792e4;
}

/* FONT */

body{
	font-family: 'Hanken Grotesk', sans-serif;
}

/* CONTAINER */

.container-big {
	max-width: 1000px;
	padding: 20px;
	margin: 0 auto;

	/* debug */
	/* border: 2px dashed blue; */
}

.container-small{
	max-width: 700px;
	padding: 20px;
	margin: 0 auto;

	/* debug */
	/* border: 2px dashed red; */
}

/* BUTTON */

button{
	width: fit-content;
	padding: 5px 10px;
	border: none;
	border-radius: 20px;
}

.bt-white{
	background-color: white;
	color: black;
}

.bt-blue{
	background-color: var(--head-color);
	color: white;
}

.bt-purple{
	background-color: var(--main-color);
	color: white;
}

.bt-footer{
	background-color: white;
	color: var(--main-color);
	padding: 20px 30px;
}

/* BG-COLOR */

.bg-purple{
	background-color: var(--main-color);
	color: white;
	padding-top: 50px;
	padding-bottom: 30px;
}

.bg-white{
	margin-bottom: 50px;
	margin-top: 30px;
}

.menu{
	display: none;
}

.fa-arrow-down{
	background-color: var(--main-color);
	padding: 10px;
	border-radius: 50%;
}

html{
    scroll-behavior: smooth;
}
